@font-face {
  font-family: "Acumin Pro";
  src: url("/fonts/AcuminPro.woff2") format("woff2"),
  url("/fonts/AcuminPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Light";
  src: url("/fonts/AcuminProLight.woff2") format("woff2"),
  url("/fonts/AcuminProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Medium";
  src: url("/fonts/AcuminProMedium.woff2") format("woff2"),
  url("/fonts/AcuminProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Semi Bold";
  src: url("/fonts/AcuminProSemi.woff2") format("woff2"),
  url("/fonts/AcuminProSemi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Bold";
  src: url("/fonts/AcuminProBold.woff2") format("woff2"),
  url("/fonts/AcuminProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Italic";
  src: url("/fonts/AcuminProItalic.woff2") format("woff2"),
  url("/fonts/AcuminProItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova";
  src: url("/fonts/AesthetNova.woff2") format("woff2"),
  url("/fonts/AesthetNova.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova Light";
  src: url("/fonts/AesthetNovaLight.woff2") format("woff2"),
  url("/fonts/AesthetNovaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova Medium";
  src: url("/fonts/AesthetNovaMedium.woff2") format("woff2"),
  url("/fonts/AesthetNovaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova Bold";
  src: url("/fonts/AesthetNovaBold.woff2") format("woff2"),
  url("/fonts/AesthetNovaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aesthet Nova Black";
  src: url("/fonts/AesthetNovaBlack.woff2") format("woff2"),
  url("/fonts/AesthetNovaBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
