* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $secondary-family;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  position: relative;
  //overflow: hidden;
}

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 18px;
  height: 18px;
  color: black;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.screen-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 0;
  cursor: pointer;
}

.accessible-text,
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  top: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: black;

  &:hover {
    color: $primary-color;
  }
}

.btn {
  @include fsz(16px);
  font-family: $secondary-bold-family;
  padding: 14px 20px;
  border-radius: 39px;
  border: 1px solid $primary-color;
  letter-spacing: -0.25px;
  background: $primary-color;
  color: $white-100;
  transition: all 0.2s linear;
  font-weight: 700;
  line-height: 1;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;

  .icon {
    width: 12px;
    height: 12px;
    color: $white-100;
  }

  &:hover {
    background: $primary-100;
    border: 1px solid $primary-100;
  }
}

input,
button {
  outline: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  background: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
