@import 'variables/fonts.scss';
@import 'variables/colors.scss';
@import 'mixins/mixins';
@import 'core/global';
@import "core/fonts.scss";
@import 'blocks/navigation';
@import 'blocks/trending';
@import 'blocks/card-listings';
@import 'blocks/music-player';
@import 'blocks/recently-played';
@import 'blocks/audio-player';
@import 'blocks/audio-wrapper';
@import 'blocks/albums';
@import 'blocks/dialog';

#root {
  display: flex;
  width: 100vw;
}

.page__home {
  width: calc(100vw - 200px);
  padding: 20px 0 0;
  background-color: $white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  .container {
    max-width: 1300px;
  }
}

