// Colors
$black: #000000;
$black-100: #0b0b0f;
$black-700: rgba(7, 7, 7, 0.4);
$black-200: #242424;

$white: #ffffff;
$white-100: #f8f9fa;
$white-200: #dee2e6;

$grey: #cccccc;
$grey-100: #3b3b3b;
$grey-200: #aeaeae;
$grey-300: #dee2e6;

$primary-color: #2291bc;
$primary-100: #052031;
$primary-200: #3ca6e2;

$secondary-color: #faaa39;
$secondary-100: #e96b5b;
$secondary-200: #ffdb70;
$secondary-300: #f6c7b6;
$secondary-400: #f4e1c1;

$tertiary-color: #5da9a6;
$tertiary-100: #4caf50;
$tertiary-200: #dce9d9;
$tertiary-300: #0091ff;
$tertiary-400: #0072b0;
$tertiary-500: #2d4f61;

$whatsapp: #00cf67;
$delete: #d11a2a;
$success: #2a9d8f;
$popup-bg: #004e89;
