// Colors
$black: #000000;
$black-100: #0B0B0F;
$black-700: rgba(7, 7, 7, 0.4);
$black-200: #242424;

$white: #ffffff;
$white-100: #F8F9FA;
$white-200:#dee2e6;

$grey: #cccccc;
$grey-100: #3b3b3b;
$grey-200: #aeaeae;
$grey-300: #dee2e6;

$primary-color: #2291BC;
$primary-100: #052031;
$primary-200: #3CA6E2;

$secondary-color: #FAAA39;
$secondary-100: #E96B5B;
$secondary-200: #FFDB70;
$secondary-300: #F6C7B6;
$secondary-400: #F4E1C1;

$tertiary-color: #5DA9A6;
$tertiary-100: #4caf50;
;
$tertiary-200: #DCE9D9;
$tertiary-300: #0091ff;
$tertiary-400: #0072b0;
$tertiary-500: #2D4F61;

$whatsapp: #00cf67;
$delete: #d11a2a;
$success: #2a9d8f;
$popup-bg: #004e89;
