$primary-family: "Aesthet Nova", serif;
$primary-light-family: "Aesthet Nova Light", serif;
$primary-medium-family: "Aesthet Nova Medium", serif;
$primary-bold-family: "Aesthet Nova Bold", serif;
$primary-black-family: "Aesthet Nova Black", serif;

$secondary-family: "Acumin Pro", sans-serif;
$secondary-light-family: "Acumin Pro Light", sans-serif;
$secondary-medium-family: "Acumin Pro Medium", sans-serif;
$secondary-semi-family: "Acumin Pro Semi Bold", sans-serif;
$secondary-bold-family: "Acumin Pro Bold", sans-serif;
$secondary-italic-family: "Acumin Pro Italic", sans-serif;